.other-user-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 40px; 
}

.user-info-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  justify-self: center; 
  max-width: 600px; 
}

.user-info-container h2 {
  margin: 0;
  font-size: 28px; 
 
}

.user-info-container img {
  width: 120px; 
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info-container h3 {
  margin: 0;
  font-size: 18px;
}
  
  .products-container {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* max-width: 1500px;  */
  }
  
  .products-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  #theirprod{
    padding-top: 100px;
    text-align: center;
  }