.errors-sign-up{
    min-height: 25px;
    color: red;
}
#login_input3 {
    width: calc(100% - 20px); 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #login_input4 {
    width: calc(100% - 20px); 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }