.user-product-container{
    display: flex;
}
.user-product-container >img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.product-text-container {
    width: 400px;
}

.user-order-container{
    display: flex;
}
.order-text-container {
    width: 400px;
}